.gridBox {
  box-sizing: border-box;
  outline: 1px solid black;
  aspect-ratio: 1/1;
  min-width: 0;
  min-height: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.gridContainer {
  display: flex;
  flex-wrap: wrap;
  width:45%;
  height:45%;
}
.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  gap: 10px;
}
.title {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  margin-bottom: 0;
}
.amount {
  width: 4em;
}
